* {
  box-sizing: border-box;
}

/* inicio header */
header {
  background-color: #191616;
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: palevioletred;
  font-size: 1.6em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header nav a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header nav a a:hover {
  color: palevioletred;
}

/* inicio main */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25rem;
}

body {
  background-color: aqua;
  font-family: sans-serif;
  margin: 0;
}


.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: palevioletred;
}

#hero {
  background: url(./img/gomitass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 50vh;
  color: pink;
}

#hero .slogan2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero .slogan2 h1 {
  color: black;
}
.slogan1 h1{
  color: #050505;
  font-family: gloria;
  border: 3px solid rgb(255, 120, 235);
  border-radius: 10px;
  margin: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan3 h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(250, 176, 98);
  border-radius: 10px;
  margin: 12px;
  padding: 20px;
  font-family: gloria;
}

.slogan4 h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(250, 176, 98);
  border-radius: 10px;
  margin: 12px;
  padding: 20px;
  font-family: gloria;
}


@-webkit-keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

#imggolo .container {
  text-align: center;
  padding: 200px 12px;
}

#acercade-nosotros {
  background-color: white;
  color: black;
  text-align: center;
}

#acercade-nosotros .container {
  padding: 150px 12px;
}

#acercade-nosotros .container h2 {
  margin-top: 0;
}

.containernosotros {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}
.gomitasnew {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  text-align: center;
  color: black;
  }
.cafeviejo h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  margin: 10px;
}
.listadesordenada {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2vh;
}

img{
  max-width: 100%;
}

article.card{
  max-width: 350px;
  background-color: #f8f8f8;
  border-radius:8px;
  margin: 1rem;
  box-shadow: 0 0 12px #d7d7d7;
}


header-card img{
  border-radius: 8px 8px 0 0;
  max-height: 200px;
  height: 200px;
  width: 100%;
}


.perfil-card{
  display: flex;
  align-items: center;
}

.img-perfil-card{
  display: flex;
}


.img-perfil-card img{
  width: 50px;
  margin: 1rem 1rem 1rem 0;
  border-radius: 50%;
}


.text-perfil-card{
  display: flex;
  flex-flow: column;
}


.text-perfil-card span:nth-child(2)
{
  color: #cfcfcf;
}


.card-wrap{
  display: flex;
  flex-flow: wrap;
}

/* media query cards */
@media (max-width:780){
  .contenedor-cards{
    flex-direction: column;
  }
}


.contactos__box{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 20px;
}




.icon1 h2{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;
  padding: 1rem;
}

.icon2 h2{

  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;
  padding: 2rem;
}

.icon3 h2{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem ;
  border-radius: 1rem;
  padding: 1rem;
}




@media (max-width: 720px) {
  .contactos__box{
    display: none;
  }
}

body .contacto{
  background-image: url(./img/gomitass.jpg);
  background-size: cover;
  background-attachment: fixed;
  }
  

.contenedor .form .form-header .form-title{
  font-weight: normal;
  font-family: sans-serif;
  color: #dc336e;
  text-align: center;
  padding: 10px 0;
}

.contenedor .form {
  background: rgba(174, 126, 126, 0.6);
  width: 90%;
  max-width: 650px;
  padding:5px 35px ;
  margin: 30px auto;
  padding-bottom: 30px;
  border-radius:12px ;
}

.contenedor .form .form-label{
  display: block;
  color: #dc336e;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}


.contenedor .form .form-input, .form-textarea{
  background: rgba(0, 0, 0, .7);
  border: none;
  outline: none;
  border-bottom: 2px solid #d8618b ;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px ;
  color: aliceblue;
}

.contenedor .form .form-textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 50px;

}

.contenedor .form .btn-submit {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline:none ;
  background: #ad335e;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease;
}

.contenedor .form .btn-submit:hover{
  background:#c26d8b ;
}


.equipo-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.equipo-flex .flexImg {
  width: 330px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(195, 17, 17, 0.02);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  display: flex;
  flex-direction: column;
}
.equipo-flex .flexImg:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(221, 27, 27, 0.2);
}
.equipo-flex .flexImg h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.equipo-flex .flexImg a img {
  width: 80%;
  margin-bottom: 20px;
}



/* inicio footer */
footer {
  background-color: #000;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

footer div{
  display: flex;
  align-items: center;
}


footer ul{
  display: flex;
  gap: 2rem;
}

footer article {
  display: flex;
  justify-content: center;
}


footer a{
  text-decoration:none;
  color: rgb(188, 188, 188);
}


@media (min-width: 720px) {
  footer header .container {
  flex-direction: row;
  justify-content: center;
  }
  footer header nav {
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
  padding-right: 20px;
  }
}
